<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Trang chủ</title>-->
<!--    <th:block th:replace="layout/base :: styles"></th:block>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="layout/base :: header"></div>-->


<!--<section class="container">-->
<!--    <form th:action="@{/}">-->





<!--</section>-->


<!--<div th:replace="layout/base :: footer"></div>-->

<!--&lt;!&ndash;    <script th:src="@{/js/main.js}"></script>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->